@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box !important;
  }
  .header {
    background-color: red;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
  }
  
  .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important; 
    gap: 10px; 
    padding: 10px; 
    max-width: 80%;
    width: 80%; 
    margin: 0 auto; 
    grid-auto-rows: minmax(100px, auto);
  }
  
  .article-div {
    background-color: #0c0c0c2d;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  .article-div:hover {
    background-color: #b609098e;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  .article-div h3 {
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 12px;
  }
  
  .article-div img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 12px;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: red;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}
.article-div:hover {
  background-color: #b609098e;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  transition: all .2s ease-in-out; 
  transform: scale(1.1); 
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%; 
  margin: 0 auto; 
  grid-auto-rows: minmax(100px, auto);
}

.article-div {
  background-color: #0c0c0c2d;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  transition: all .2s ease-in-out; 
}

.article-div h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 12px;
}

.article-div img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 12px;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  display: block; 
}

.single-article-div {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 60vh;
  background-color: #242424;
  display: block; 
  margin-bottom: 0;
}
.single-article-container {
  display: grid;;
  grid-template-columns: repeat(1, 1fr) !important; 
  columns: 2;
  gap: 10px; 
  padding: 10px; 
  max-width: 80%;
  width: 80%; 
  margin: 0 auto; 
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 0;
}
.single-article-div h2 {
font-weight: 600;
font-size: 24px;
text-align:center;
}
.single-article-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .navbar {
    margin-top: -1px;
margin-left:40%;
margin-right:40%;
    border-top: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 0, 0, 0.817);
    text-align: center;
    float:auto;
    color:white;
    padding: .5em;
    z-index: 2;
  }

  .navbar a{
    color:white
  }

  .navbar a:hover{
    color:black;
    background-color:white;
  }

  .comment-container {
    display: grid;
    gap: 10px; 
    max-width: 80%;
    width: 80%; 
    margin-top:0px;
    margin: 0 auto; 
    margin-bottom: 20px;
  
  }

  .comment-div {
    background-color: #0c0c0c2d;
    padding: 10px;
    text-align: left;
    margin-top:20px;
    border-radius: 8px;
  }
  .article-votes {
    margin: 0;
    font-size:12px;
    text-align:right;
    margin-top:10px;
    padding-left: 10px;
    padding-right:25%;
    font-weight:600;
    transition:.5s;
  }
  .article-votes-text {
    font-size:14px;
    text-align:right;
    margin: 0;
    padding-left: 10px;
    padding-right:26%;
    font-weight:400;
    transition:.5s;
  }
  .article-vote-button {
    font-size:14px;
    transition: all .2s ease-in-out; 
  }
  .article-vote-button:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.2); 
    background-color: #b609098e;
  }
  .comment-votes {
    font-size:18px;
    padding-left: 10px;
    display:inline-block;
    transition: all .2s ease-in-out; 
    font-weight:600;
    transition:.5s;
    
  }
  .comment-user {
    font-weight: 800;
    margin:0;
    
  }
  .negative-vote {
    color:red;
    }

  .positive-vote {
      color:green;
        
    }

  .comment-date {
    font-size: 12px;
    margin: 0;
  }

  .comment-title h2 {
    font-size:300px;
    text-align: center;
  }

  .comment-container h2 {
    display: grid;
    text-align:center;
    gap: 10px; 
    max-width: 80%;
    width: 80%; 
    margin-top:0px;
    margin: 0 auto; 
    margin-bottom: 0;
  }
  .delete-comment {
    float:right;
    display: grid;
    text-align: center;
    background-color: #b6090943;
    transition: all .2s ease-in-out; 
    font-weight: 600;
  }
  .delete-comment:hover {
    float: right;
    color: white;
    background-color:red;
    transition: all .2s ease-in-out; 
    transform: scale(1.1); 
    font-weight: 600;
  }
  .loggedInUser {
    position: sticky;
    top: 0;
    margin-top: -39px;
font-size:12px;
    border-top: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 0, 0, 0.817);
    text-align: right;
    float:right;
    color:white;
    padding: .5em;
    z-index: 3;
  }
  .header-link {
    color:white;
  }
  .header-link:hover {
    color:black;
    border-color:white;
    background-color: white;

  }